<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Install artifact in repository</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.joelj.jenkins.eztemplates.TemplateImplementationProperty plugin="ez-templates@1.2.5">
      <templateJobName>Install</templateJobName>
      <syncMatrixAxis>true</syncMatrixAxis>
      <syncDescription>false</syncDescription>
      <syncBuildTriggers>true</syncBuildTriggers>
      <syncDisabled>false</syncDisabled>
      <syncSecurity>true</syncSecurity>
      <syncScm>true</syncScm>
      <syncOwnership>true</syncOwnership>
      <syncAssignedLabel>true</syncAssignedLabel>
      <exclusions>
        <string>ez-templates</string>
        <string>job-params</string>
        <string>disabled</string>
        <string>description</string>
      </exclusions>
    </com.joelj.jenkins.eztemplates.TemplateImplementationProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions class="linked-list">
        <hudson.model.ChoiceParameterDefinition>
          <name>type</name>
          <description>type of pull. example : development,deployment,...</description>
          <choices>
            <string>development</string>
            <string>deployment</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pom_folder</name>
          <description>The source code folder containing the pom.xml file</description>
          <defaultValue>org\cyk\system\iesaschool\iesaschool-_pom</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>test_skipped</name>
          <description>Skip the tests</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>case $type in
   &quot;development&quot;) artifact_repository=&quot;$artifact_local_repository_folder_development&quot;;;
   &quot;deployment&quot;) artifact_repository=&quot;$artifact_local_repository_folder_deployment&quot;;;
esac

case $type in
   &quot;development&quot;) pom_folder=&quot;$source_code_local_repository_folder_development$pom_folder/pom.xml&quot;;;
   &quot;deployment&quot;) pom_folder=&quot;$source_code_local_repository_folder_deployment$pom_folder/pom.xml&quot;;;
esac


mvn clean install -Dmaven.test.skip=$test_skipped -Dmaven.repo.local=&quot;$artifact_repository&quot; -f &quot;$pom_folder&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>