<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Install artifact in repository</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.joelj.jenkins.eztemplates.TemplateImplementationProperty plugin="ez-templates@1.2.5">
      <templateJobName>Install</templateJobName>
      <syncMatrixAxis>true</syncMatrixAxis>
      <syncDescription>false</syncDescription>
      <syncBuildTriggers>true</syncBuildTriggers>
      <syncDisabled>false</syncDisabled>
      <syncSecurity>true</syncSecurity>
      <syncScm>true</syncScm>
      <syncOwnership>true</syncOwnership>
      <syncAssignedLabel>true</syncAssignedLabel>
      <exclusions>
        <string>ez-templates</string>
        <string>job-params</string>
        <string>disabled</string>
        <string>description</string>
      </exclusions>
    </com.joelj.jenkins.eztemplates.TemplateImplementationProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions class="linked-list">
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.4.0">
          <name>project_stage</name>
          <description>The project stage</description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.GlobalTextareaChoiceListProvider">
            <name>project_stage</name>
            <defaultChoice>default</defaultChoice>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.4.0">
          <name>source_code_pom_folder_relative</name>
          <description>The source code folder containing the pom.xml file</description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.GlobalTextareaChoiceListProvider">
            <name>source_code_pom_folders_relative</name>
            <defaultChoice>org/cyk/system/root/root-_pom</defaultChoice>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.4.0">
          <name>system_test_type</name>
          <description>system test type</description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.GlobalTextareaChoiceListProvider">
            <name>system_test_types</name>
            <defaultChoice>none</defaultChoice>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>case $project_stage in
   &quot;default&quot;) project_stage=&quot;$project_stage_default&quot;;;
esac

case $project_stage in
   &quot;development&quot;) artifact_repository=&quot;$artifact_local_repository_folder_development&quot;;;
   &quot;production&quot;) artifact_repository=&quot;$artifact_local_repository_folder_deployment&quot;;;
esac

pom_dot_xml=&quot;/pom.xml&quot;

case $project_stage in
   &quot;development&quot;) pom_folder=&quot;$source_code_local_repository_folder_development$source_code_pom_folder_relative$pom_dot_xml&quot;;;
   &quot;production&quot;) pom_folder=&quot;$source_code_local_repository_folder_deployment$source_code_pom_folder_relative$pom_dot_xml&quot;;;
esac

case $system_test_type in
   &quot;none&quot;) test_skipped=&quot;true&quot;;;
   *) test_skipped=&quot;false&quot;;;
esac

mvn clean install -Dmaven.test.skip=$test_skipped -Dmaven.repo.local=&quot;$artifact_repository&quot; -f &quot;$pom_folder&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>